*{
    margin: 0px;
    padding: 0px;
}

/* :root {
    
} */

.container {
    height: 300px;
    /*width: 400px;*/
    background: #eee;
    /*position: absolute;*/
    
    position: relative;
    width: 100%;

    /*margin: -150px 0 0 -150px;*/
    left: 0%;
    top: 0%;
}

.box {
    height: 100px;
    width: 100px;
    background: #222;
    position: absolute;

    /*Centering Method 2*/
    margin: -50px 0 0 -50px;
    left: 50%;
    top: 50%;
}