:root {
    /*black, white*/
    --backgroundGray: #1A1A1A;
    --topGray: #585858;
    --bottomGray: #1D1D1D;
    --lineGray: #3B3B3B;
    --orange: #E18642;
    --topOrange: #E59F65;
    --bottomOrange: #E49A5E;
    --backgroundBlack: #030303;
    --linkGrayy: #6E6F6D;
    --backupButton: #E08541;
}

html * {
    font-family: Arial, Helvetica, sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img, p, header {
    display: inline-block;
}

header {
    background-color: var(--backgroundGray);
    padding: 2em;
    width: 100%;
}

.modernizeLogo {
    width: 47%;
    display: inline-block;
}

img {
    width: 200px;
}

header p {
    color: white;
    width: 47%;
    text-align: right;
    vertical-align: top;
    min-width: 300px;
}

nav {
    background-image: linear-gradient(var(--topGray), var(--bottomGray));
    width: 100%;
    padding: 1.5em;
}

    nav a {
        color: #A1A7A5;
        display: inline-block;
        margin-right: 3em;
        vertical-align: center;
        text-decoration: none;
    }

    nav a:focus, nav a:active {
        color: white;
    }

    /* nav .divider { 
        display: inline-block;
        width: 10px;
        height: 60%;
        background-image: linear-gradient(var(--bottomGray), var(--topGray));
    } */
main {
    width: 100%;
}

main img { 
    width: 100%;
}

main .divider { 
    height: 3px;
    width: 100%;
    background-color: var(--lineGray);
    /*Hack, need to figure out why their is a 4px top margin offset in output.*/
    margin-top: -4px;
}

.articleGroup { 
    background-color: var(--backgroundGray);
    padding: 2em 0.5em;
}

.subArticle {
    width: 23%;
    display: inline-block;
}

    .subArticle img,
    .subText {
        display: inline-block;
    }

    .subArticle h3,
    .subArticle p {
        color: white;
    }

    .subArticle img {
        width: 4em;
        height: 3em;
        vertical-align: top;
        object-fit: contain;
    }

.subText {
    width: 70%;
    /* height: 20em; */
}

    .subText h3 {
        color: var(--orange);
    }

.buySection {
    width: 100%;
    height: 10em;
    background-color: var(--backgroundBlack);
    padding: 1.5em;
}

    .buySection article, .buttonContainer {
        display: inline-block;
    }

    .buySection article {
        width: 60%;
        vertical-align: center;
        padding-top: 1em;
        padding-left: 1em;
    }

        .buySection article h2, .buySection article p {
            color: white;
        }

        .buySection article h2 {
            margin-bottom: 1em;
        }

    .buySection button {
        width: 11em;
        height: 4.5em;
        margin-left: 10em;
     /* margin-top: -12em; */
        border: none;
        background-image: linear-gradient(var(--bottomOrange), var(--backupButton));
        vertical-align: center;
        color: white;
        border-radius: 0.75em;
        font-size: 13px;
        padding: 0;
    }

footer {
    background-color: var(--backgroundGray);
    width: 100%;
    height: 30em;
}

.portfolios {
    background-color: var(--backgroundGray);
    padding-left: 4em;
}


.footerTop {
    height: 4em;
    padding: 2em 0 0 2em;
}

    .footerTop h2, .footerTop a {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }

    .footerTop h2 {
        color: white;
    }

    .footerTop a {
        text-align: right;
        color: var(--orange);
        text-decoration: none;
        font-style: italic;
    }


.portfolios h4 {
    color: var(--orange);
}

.portfolios p {
    color: white;
}

.portfolios article {
    padding: 1em;
}

.portfolios article img {
    border: 3px;
    border-style: solid;
    border-color: #363636;
}

.portfolios article {
    width: 20%;
    object-fit: contain;
    min-width: 200px;
    display: inline-block;
}

.portfolios h4 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.absoluteBottom { 
    width: 98%;
    height: 1.3em;
    color: var(--linkGrayy);
    background-color: var(--backgroundGray);
    text-align: right;
    text-decoration: none;
    display: block;
    margin-right: 2em;
    padding-right: 2em;
}
